In [7]:
from scipy import stats  
import pandas as pd
from sklearn.linear_model import LinearRegression

In [28]:
df_lineal = pd.read_csv('Datos/Lineal/Distr.csv',index_col='indice')
df_polinomico = pd.read_csv('Datos/Polinomica/Periodica.csv',index_col='indice')
df_exp = pd.read_csv('Datos/Exp/DRIFT.csv',index_col='indice')
df_log = pd.read_csv('Datos/Log/TEND.csv',index_col='indice')
df_escal = pd.read_csv('Datos/Escalonada/ARMA.csv',index_col='indice')
df_inversa = pd.read_csv('Datos/Prop_inversa/Distr.csv',index_col='indice')

LINEAR REGRESSION:

In [20]:
modelo = LinearRegression()
modelo.fit(X=df_lineal,y=df_lineal['Target'])
df_lineal['Prediccion'] = modelo.predict(df_lineal)

In [ ]:
df_lineal # perfecto

                Valor      Target  Prediccion
indice
2014-01-31  79.007175  239.021525  239.021525
2014-02-28  84.297483  254.892448  254.892448
2014-03-31  83.758763  253.276289  253.276289
2014-04-30  80.400293  243.200879  243.200879
2014-05-31  74.976624  226.929871  226.929871
...               ...         ...         ...
2023-08-31  81.063412  245.190237  245.190237
2023-09-30  80.895912  244.687735  244.687735
2023-10-31  76.144846  230.434537  230.434537
2023-11-30  79.926374  241.779122  241.779122
2023-12-31  71.455553  216.366660  216.366660

[120 rows x 3 columns]

In [40]:
modelo = LinearRegression()
modelo.fit(X=df_polinomico.drop(columns='Target'),y=df_polinomico['Target'])
df_polinomico['Prediccion'] = modelo.predict(df_polinomico.drop(columns='Target'))

In [42]:
df_polinomico # Perfecto

                 Valor        Target    Prediccion
indice
2014-01-31  689.228616 -2.236991e+11 -2.236991e+11
2014-02-28  603.880002 -1.316670e+11 -1.316670e+11
2014-03-31  630.068789 -1.561012e+11 -1.561012e+11
2014-04-30  666.148962 -1.951484e+11 -1.951484e+11
2014-05-31  659.044536 -1.869374e+11 -1.869374e+11
...                ...           ...           ...
2021-08-31  657.509496 -1.851979e+11 -1.851979e+11
2021-09-30  662.251229 -1.906108e+11 -1.906108e+11
2021-10-31  671.520103 -2.015334e+11 -2.015334e+11
2021-11-30  650.039576 -1.769055e+11 -1.769055e+11
2021-12-31  632.214999 -1.582442e+11 -1.582442e+11

[96 rows x 3 columns]

In [38]:
modelo = LinearRegression()
modelo.fit(X=df_exp.drop(columns='Target'),y=df_exp['Target'])
df_exp['Prediccion'] = modelo.predict(df_exp.drop(columns='Target'))

In [39]:
df_exp

                 Valor        Target    Prediccion
indice
2014-01-31  250.342091  1.665555e+22  1.595074e+37
2014-02-28  250.682686  1.782965e+22  1.595074e+37
2014-03-31  249.281795  1.347295e+22  1.595074e+37
2014-04-30  249.308128  1.354410e+22  1.595074e+37
2014-05-31  250.014415  1.559902e+22  1.595074e+37
...                ...           ...           ...
2023-08-31  222.819511  6.776073e+19  1.595074e+37
2023-09-30  223.313193  7.479262e+19  1.595074e+37
2023-10-31  223.525653  7.803920e+19  1.595074e+37
2023-11-30  223.916209  8.437933e+19  1.595074e+37
2023-12-31  224.230308  8.985006e+19  1.595074e+37

[120 rows x 3 columns]

In [44]:
modelo = LinearRegression()
modelo.fit(X=df_escal.drop(columns='Target'),y=df_escal['Target'])
df_escal['Prediccion'] = modelo.predict(df_escal.drop(columns='Target'))

In [34]:
df_escal

                 Valor        Target    Prediccion
indice
2014-01-31  124.442872   7805.235582   7805.235582
2014-02-28  125.274672   7909.509038   7909.509038
2014-03-31  125.672698   7959.649894   7959.649894
2014-04-30  125.478676   7935.188425   7935.188425
2014-05-31  124.469099   7808.512854   7808.512854
...                ...           ...           ...
2023-08-31  250.986771  31371.686293  31371.686293
2023-09-30  250.163915  31165.910266  31165.910266
2023-10-31  251.069588  31392.434284  31392.434284
2023-11-30  251.119353  31404.905120  31404.905120
2023-12-31  251.294043  31448.701055  31448.701055

[120 rows x 3 columns]

In [49]:
modelo = LinearRegression()
modelo.fit(X=df_log.drop(columns='Target')[:100],y=df_log['Target'][:100])
df_log['Prediccion'][100:] = modelo.predict(df_log.drop(columns='Target')[100:])

In [46]:
df_log

                 Valor      Target  Prediccion
indice
2014-01-31   49.913054  723.461695  723.461695
2014-02-28   49.787167  723.446544  723.446544
2014-03-31   49.867282  723.456191  723.456191
2014-04-30   49.967657  723.468256  723.468256
2014-05-31   50.160934  723.491419  723.491419
...                ...         ...         ...
2023-08-31  693.836007  739.253414  739.253414
2023-09-30  705.225456  739.351105  739.351105
2023-10-31  716.880543  739.449455  739.449455
2023-11-30  728.438760  739.545421  739.545421
2023-12-31  740.080392  739.640553  739.640553

[120 rows x 3 columns]