In [33]:
import pandas as pd
import numpy as np

In [34]:
df = pd.read_csv("updated_pollution_dataset_numeric.csv")

In [35]:
df1=df.drop('Air Quality', axis=1)

In [36]:
df1['Air Quality Numeric'] = df1['Air Quality Numeric'] + np.random.random(size=df1.shape[0])*10

In [41]:
df1

,Temperature,Humidity,PM2.5,PM10,NO2,SO2,CO,Proximity_to_Industrial_Areas,Population_Density,Air Quality Numeric
2010-01-31,29.8,59.1,5.2,17.9,18.9,9.2,1.72,6.3,319,55.838757
2010-02-28,28.3,75.6,2.3,12.2,30.8,9.7,1.64,6.0,611,60.869410
2010-03-31,23.1,74.7,26.7,33.8,24.4,12.6,1.63,5.2,619,58.206464
2010-04-30,27.1,39.1,6.1,6.3,13.5,5.3,1.15,11.1,551,88.922032
2010-05-31,26.5,70.7,6.9,16.0,21.9,5.6,1.01,12.7,303,85.231945
...,...,...,...,...,...,...,...,...,...,...
2092-12-31,22.6,40.8,4.6,10.6,20.9,5.7,1.11,12.6,315,85.177670
2093-01-31,24.0,51.2,14.1,16.5,26.0,7.4,0.97,10.2,264,91.405259
2093-02-28,27.4,77.3,12.9,21.1,16.4,15.8,1.81,8.0,406,57.615326
2093-03-31,32.6,79.6,42.8,51.4,14.1,13.3,1.55,7.5,633,58.660128
2093-04-30,22.2,57.5,3.6,5.6,16.7,7.6,0.86,11.6,460,85.497591

In [19]:
def series_periodos(inicio, periodos, freq): 
    serie = pd.date_range(start=inicio, periods=periodos, freq=freq)
    return serie

In [39]:
indice=series_periodos('1/1/2010',df1.shape[0],'M')

In [40]:
df1.index=indice

In [42]:
df1.to_csv("Preprocesado.csv",index_label="indice")

In [38]:
df1 = df1[:1000]