In [1]:
import numpy as np
import pandas as pd

time = np.arange(0, 365)
seasonal = 10 * np.sin(2 * np.pi * time / 365)
noise = np.random.normal(0, 1, len(time))
temperature = seasonal + noise

df = pd.DataFrame({'Day': time, 'Temperature': temperature})

In [2]:
df

     Day  Temperature
0      0     0.840305
1      1     0.190489
2      2    -0.760949
3      3     0.734490
4      4     1.452086
..   ...          ...
360  360    -1.451055
361  361     0.519257
362  362     0.485433
363  363     0.633098
364  364     0.197178

[365 rows x 2 columns]